.describ{
    margin-left: 60px;
    font-size: 20px;

    &__series{
        display: flex;
        justify-content: space-around;

    }
}

@media screen and (max-width: 600px) {

    .describ {
        margin-left: 20px;
        display: block;
        
        &__series {
          display: block;
          font-size: 20px;
        }
    }
}