
.pelicula {
    display: inline-block;
    margin: 10px 10px;
    min-height: 100vh;

    &__titulo {
        color: lightness($color: #7a6767);
    }
    &__imagen {
    width: 200px;
    }
    &__temporadas {
        color: lightness($color: #7a6767);
    }
}

@media screen and (max-width: 600px) {

    .pelicula {
        min-height: 50vh;
    }
}