:host {
    background-color: black;
    display: block;
    color: #fff;
    min-height: 100vh;
  }
  
.inicio {
    // &__cabecera {
    
    // }
    &__imagen {
    width: 200px;
    }
}

.cabecera {
    display: inline-block;
    margin: 10px 10px;
    &__logo{
        display:block;
        margin:auto;
    }
}