:host {
    background-color: black;
    display: block;
    color: #fff;
    min-height: 100vh;
  }
  


// .cabecera {
//     display: inline-block;
//     margin: 10px 10px;

//     &__logo{
//         display:block;
//         margin:auto;
//     }
// }